{% ckan_extends %}

{% block meta %}

  {% set client_id = h.googleauth_get_client_id() %}
  {% set hosted_domain = h.googleauth_get_hosted_domain() %}
  
  {{ super() }}
  <meta name="google-signin-scope" content="profile email">
  <meta name="google-signin-client_id" content="{{ client_id }}">
  <meta name="google-signin-hosted_domain" content="{{ hosted_domain }}">
{% endblock %}

{% block scripts %}
  {{ super() }}
  <script src="https://apis.google.com/js/platform.js"></script>
  <script type="text/javascript" src="/js/googleSignIn.js"></script>
  <script>startApp();</script>
{% endblock %}
